{% extends "app1/base.html" %}
{% load static %}
{% block title %}Criar Conta · News Site{% endblock %}

{% block content %}

<link rel="stylesheet" href="{% static 'app1/css/register.css' %}">

<div class="register-container">

    <h2>Criar Nova Conta</h2>

    <form method="post" action="{% url 'register' %}">
        {% csrf_token %}
        {{ form.as_p }}

        <button type="submit" class="register-btn">
            Criar Conta
        </button>
    </form>

    <hr>

    <p>
        Já tem uma conta? <a href="{% url 'login' %}">Faça login aqui</a>.
    </p>

</div>


{% endblock %}